@use 'src/styles/vars';

.container {
  margin: 2em;
  display: flex;
  flex-direction: column;
  height: 30em;
  background-color: #fff;
}
.ttl {
  text-align: center;
  font-size: 2em;
  margin: 0.8em;
}

.btn {
  margin: 2em;
}

.inp {
  margin:2em;
}