@use 'src/styles/vars';

.button {
  width: 100%;
  height: 1.5em;
  border:none;
  outline: none;
  background: vars.$Secondary;
  color: #fff;
  font-size: 1em;
  border-radius: 1em;
  cursor: pointer;
  // margin: 0.1em .5em;
  box-shadow: inset -2px -2px 8px rgb(0, 75, 119,1),
  inset -2px -2px 12px rgba(255,255,255,0.5),
  inset 2px 2px 4px rgba(255,255,255,0.1),
  inset 2px 2px 8px rgba(0,0,0,0.15);
  white-space: nowrap;
  padding: 0.1em 0.5em;
}

.button:hover{
  box-shadow: inset -2px -2px 8px rgb(0, 75, 119,1),
  inset -2px -2px 12px rgba(255,255,255,0.5),
  inset 2px 2px 4px rgba(255,255,255,0.1),
  inset 2px 2px 8px rgba(0,0,0,0.15);
  background: vars.$Linear-gradient;
  color: vars.$Dark;
}
